.forgotPassword{
    padding:1em;
}
.forgotPassword > h3{
   font-size:20px;
    text-align: center;
    font-weight:normal;
    padding-bottom:10px;
}
.forgotPassword > form.forgot{
    display: flex;
    flex-direction: column;
}
.forgotPassword > form.forgot >input{
    width:75%;
    margin:.3em auto;
    border:1px solid #f99;
    border-radius:2px;
    box-shadow: 0 0 2px #f99;
    padding:8px 0 8px 5px;
}
.forgotPassword > form.forgot >button{
    width:75%;
    margin:5px auto;
    background:#db4c3f;
    border:none;
    color:#eee;
    cursor: pointer;
    padding:.5em 0;
    border-radius:3px;
}
.forgotPassword > form.forgot >button:hover{
    opacity:.7;
}
.forgotPassword > form.forgot >a{
    width:75%;
    text-align: center;
    margin:5px auto;
    color:#333;
}
