.signInOrSignUp{
    padding:1em;
}
.signInOrSignUp nav{
    display: flex;
    justify-content:center;
    padding-bottom:10px;
}
.signInOrSignUp nav >label{
    margin:0 15px;
    font-size:20px;
    padding:5px 8px;
    cursor:pointer;
}
.signInOrSignUp nav >label:hover{
    color:#777;
}
.signInOrSignUp nav >label.active{
    border-bottom:2px solid #db4c3f;
    color:#db4c3f;
}
.signInOrSignUp nav >label >input{
    display: none;
}
