.signInForm{
    display: flex;
    flex-direction:column;
}
.signInForm >input{
    width:75%;
    margin:.3em auto;
    border:1px solid #f99;
    border-radius:2px;
    box-shadow: 0 0 2px #f99;
    padding:8px 0 8px 5px;
}
.signInForm > button{
    width:75%;
    margin:5px auto;
    background:#db4c3f;
    border:none;
    color:#eee;
    cursor: pointer;
    padding:.5em 0;
    border-radius:3px;
}
.signInForm > button:hover{
    opacity:.7;
}
.signInForm > a{
    width:75%;
    margin:5px auto;
    color:#333;
}
