.App {
    display: flex;
}
.aside{
    width:278px;
    border:1px solid red;
    height:100vh;
    position: relative;
}
.aside > .createFolderAction{
    position: absolute;
    bottom:0;
    width:100%;
    cursor:pointer;
    border-top:1px solid;
}



section.content{
    flex:1;
}
.content ol.todoItem{
    display: none;
}
.content ol.todoItem.active{
    display: block;
}
.content .todoItemState{
    display: flex;
}
.content .todoItemState a.links{
   margin:0 5px;
}
.content .todoItemState a.links.active{
   color:red;
}
