.todoItem{
    padding:.6em;
    display: flex;
    align-items:center;
    border:1px solid rgba(0,0,0,.3);
    background: rgba(229, 226, 250, .2);
    margin-top:1px;
}
.todoItem>input[type="checkbox"]{
    width:1em;
    height:1em;
    color: #09ad7e;
    cursor:pointer;
}
.todoItem>.title{
    /*flex:1;*/
    padding-left:.7em;
    word-break: break-all;
    width:76%;
}
.todoItem>.time{
    flex:1;
    text-align:center;
}
.todoItem >svg.icon{
    fill:#aaa;
    cursor:pointer;
}
.todoItem >svg.icon:hover{
    fill:#333;
}
