.UserDialog-Wrapper{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:hsla(0,0%,0%,0.40);
}
.UserDialog{
    border-radius:4px;
    min-width:20em;
    background:white;
    border:1px solid #aaa;
    box-shadow:0 0 1em hsla(0,0%,0%,0.35);
}